/* display: inline, inline-block, block, none; */
/* block agrupa todo, dentro inline-block para la misma línea */

html,
body,
main {
  box-sizing: border-box;
}
header {
  background-color: aqua;
  text-align: center;
  position: sticky;
}
main {
  background-color: pink;
}

article {
  display: inline-block;
  text-align: center;
  width: 30%;
  margin-left: 2.3%;
  margin-bottom: 2%;
  margin-top: 2%;
}
img {
  height: 200px;
  width: 200px;
}
.a1 {
  background-color: red;
}
.a2 {
  background-color: yellow;
}
.a3 {
  background-color: green;
}
footer {
  margin-top: 2%;
  background-color: aqua;
  column-count: 6;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 10px;
  column-rule-color: red;
}

footer img {
  height: 50px;
  width: 50px;
}
