* {
  box-sizing: border-box;
  margin: 0;
}

header,
footer {
  background-color: grey;
}
#logo {
  background-color: red;
}
#search {
  background-color: lightcoral;
}
main {
  background-color: black;
}
.articulo {
  background-color: orange;
}
#a1 {
  background-color: orangered;
}
.articulo2 {
  background-color: brown;
}
.lado {
  background-color: pink;
}
.pieLado {
  background-color: purple;
}
#d1 {
  background-color: blue;
}
#d2 {
  background-color: yellow;
}
#d3 {
  background-color: green;
}
#miniPie {
  background-color: lightgrey;
}
@media only screen and (min-width: 992px) {
  header {
    position: sticky;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #logo {
    width: 25%;
    height: 40px;
  }
  #search {
    width: 25%;
    height: 40px;
  }
  main {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .articulo {
    width: 40%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  #a1 {
    width: 30%;
    height: 90%;
  }
  .articulo2 {
    width: 15%;
    height: 300px;
  }
  .lado {
    width: 15%;
    height: 250px;
    display: flex;
    flex-direction: row;
  }
  .pieLado {
    width: 100%;
    height: 50px;
    align-self: flex-end;
  }
  footer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 180px;
  }
  #d1 {
    width: 500px;
    height: 100px;
    align-self: flex-start;
  }
  #d2 {
    width: 500px;
    height: 100px;
    align-self: flex-end;
  }
  #d3 {
    width: 500px;
    height: 100px;
    align-self: flex-start;
  }
  #miniPie {
    width: 100%;
    height: 80px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  * {
  }
  header {
    position: sticky;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #logo {
    width: 25%;
    height: 40px;
  }

  #search {
    width: 25%;
    height: 40px;
  }

  main {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .articulo {
    width: 40%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #a1 {
    width: 45%;
    height: 90%;
  }
  #a1:last-child {
    display: none;
  }

  .articulo2 {
    display: none;
  }
  .lado {
    width: 35%;
    height: 300px;
    display: flex;
    flex-direction: row;
  }
  .pieLado {
    width: 100%;
    height: 50px;
    align-self: flex-end;
  }

  footer {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 180px;
  }
  #d1 {
    width: 500px;
    height: 100px;
    align-self: flex-start;
  }
  #d2 {
    width: 500px;
    height: 100px;
    align-self: flex-end;
  }
  #d3 {
    width: 500px;
    height: 100px;
    align-self: flex-start;
  }
  #miniPie {
    width: 100%;
    height: 80px;
  }
}

@media only screen and (max-width: 767px) {
  header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #logo,
  #search {
    width: 25%;
    height: 40px;
  }

  main {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  .articulo {
    width: 90%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .articulo2 {
    display: none;
  }
  #a1 {
    width: 45%;
    height: 90%;
  }
  #a1:last-child {
    display: none;
  }
  .lado {
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: row;
  }
  .pieLado {
    width: 100%;
    height: 50px;
    align-self: flex-end;
  }
  footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 100px;
  }
  #d1 {
    display: none;
  }
  #d2,
  #d3,
  #miniPie {
    width: 100%;
    height: 33px;
  }
}
