* {
  box-sizing: border-box;
  border: 1px solid black;
}
body > footer div {
  color: white;
}

/* PANTALLA GRANDE */
@media only screen and (min-width: 992px) {
  body {
    background-color: silver;
  }
  header {
    background-color: red;
    height: 100px;
    width: 100%;
  }
  nav {
    background-color: yellow;
    height: 100px;
  }
  /*************************************************************
  EL MAIN SE COLOCA SIN UTILIZAR FLEX NI POSITION 
  *************************************************************/
  main {
    background-color: green;
    /* float: left; */
    height: 500px;
    width: 60%;
  }
  /*************************************************************
  EL CONTENIDO DE S1 SE COLOCA EN FILAS (CON DESBORDAMIENTO)
  *************************************************************/
  .s1 {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    background-color: peru;
    height: 400px;
    width: 100%;
  }
  .s1 article {
    /* width: 30%; */
    height: 100px;
    background-color: cyan;
    border: 1px solid black;
  }
  main footer {
    background-color: purple;
    width: 100%;
    height: 100px;
  }
  /*************************************************************
  EL ASIDE SE COLOCA SIN UTILIZAR POSITION
  *************************************************************/
  aside {
    /* float: left; */
    background-color: blue;
    height: 500px;
    width: 40%;
  }
  /*************************************************************
  EL CONTENIDO DEL S2 SE ENCUENTRA EN COLUMNAS
  *************************************************************/
  .s2 {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; */
    background-color: lime;
    height: 500px;
    width: 100%;
  }
  .s2 > article {
    background-color: violet;
    height: 100px;
    width: 80%;
    border: 1px solid black;
  }
  /************************************************************* 
  EL CONTENIDO DEL FOOTER SE ENCUENTRA EN FILAS
  *************************************************************/
  body > footer {
    background-color: aqua;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    float: left; */
    height: 100px;
    width: 100%;
  }
  body > footer div {
    background-color: darkred;
    height: 10px;
    width: 100px;
    border: 1px solid black;
  }
  body > footer div:nth-child(2) {
    /* order: 3;
    align-self: flex-end; */
  }
  body > footer div:nth-child(1) {
    /* align-self: flex-end; */
  }
}
/* PANTALLA MEDIANA */
@media only screen and (max-width: 992px) and (min-width: 768px) {
  body {
    background-color: black;
  }
  header {
    background-color: red;
    height: 100px;
    width: 100%;
  }
  nav {
    background-color: yellow;
    height: 100px;
  }
  main {
    background-color: green;
    height: 500px;
    width: 100%;
  }
  /*************************************************************
  EL CONTENIDO DEL S1 SE COLOCA EN FILAS (CON DESBORDAMIENTO)
  *************************************************************/
  .s1 {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2px; */
    background-color: peru;
    height: 400px;
    width: 100%;
  }
  .s1 article {
    width: 30%;
    height: 100px;
    background-color: cyan;
    border: 1px solid black;
  }
  .s1 article:nth-child(4) {
    /* display: none; */
  }
  main footer {
    background-color: purple;
    width: 100%;
    height: 100px;
  }
  aside {
    /* display: flex;
    flex-direction: row; */
    background-color: blue;
    height: 500px;
    width: 100%;
  }
  /*************************************************************
  EL CONTENIDO DEL S2 SE COLOCA EN FILAS
  *************************************************************/
  .s2 {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
    background-color: lime;
    height: 500px;
    width: 100%;
  }
  .s2 > article {
    background-color: violet;
    height: 100px;
    width: 30%;
    border: 1px solid black;
  }
  .s2 article:nth-child(2) {
    /* align-self: flex-start; */
    margin-top: 10px;
  }
  /*************************************************************
  EL CONTENIDO DEL FOOTER SE COLOCA EN FILAS
  *************************************************************/
  body > footer {
    background-color: aqua;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; */
    height: 100px;
    width: 100%;
  }
  body > footer div {
    background-color: darkred;
    height: 90px;
    width: 100px;
    border: 1px solid black;
  }

  body > footer div:nth-child(2) {
    /* order: 3;
    align-self: flex-end; */
  }
  body > footer div:nth-child(1) {
    /* align-self: flex-end; */
  }
}
/* PANTALLA PEQUEÑA */
@media only screen and (max-width: 768px) {
  body {
    background-color: darkorange;
  }

  header {
    background-color: red;
    height: 100px;
    width: 100%;
  }
  nav {
    background-color: yellow;
    height: 100px;
  }
  main {
    background-color: green;
    height: 500px;
    width: 100%;
  }
  /*************************************************************
  EL CONTENIDO DEL S1 SE COLOCA EN COLUMNAS
  *************************************************************/
  .s1 {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px; */
    background-color: peru;
    height: 400px;
    width: 100%;
  }
  .s1 article {
    width: 30%;
    height: 100px;
    background-color: cyan;
  }
  .s1 article:nth-child(4) {
    display: none;
  }
  .s1 article:nth-child(2) {
    display: none;
  }
  main footer {
    background-color: purple;
    width: 100%;
    height: 100px;
  }
  /*************************************************************
  EL CONTENIDO DEL ASIDE SE COLOCA EN FILAS
  *************************************************************/
  aside {
    /* display: flex;
    flex-direction: row; */
    background-color: blue;
    height: 500px;
    width: 100%;
  }
  /*************************************************************
  EL CONTENIDO DEL S2 SE COLOCA EN COLUMNAS
  *************************************************************/
  .s2 {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: lime;
    height: 500px;
    width: 100%;
  }
  .s2 > article {
    background-color: violet;
    height: 100px;
    width: 30%;
  }
  .s2 article:nth-child(2) {
    /* align-self: flex-start; */
    margin-top: 10px;
  }
  /*************************************************************
  EL CONTENIDO DEL FOOTER SE COLOCA EN COLUMNAS
  *************************************************************/
  body > footer {
    background-color: aqua;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
    height: 100px;
    width: 100%;
  }
  body > footer div {
    background-color: darkred;
    width: 100px;
  }

  body > footer div:nth-child(2) {
    /* order: 3;
    align-self: flex-end;
    flex-basis: 15%; */
  }
  body > footer div:nth-child(1) {
    /* align-self: flex-end;
    flex-basis: 15%; */
  }

  body > footer div:nth-child(3) {
    /* flex-basis: 15%;
    flex-grow: 0.5; */
  }
}
