* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

#id_header {
  color: #00FF00;
  background-color: #000080;
  width: 100%;
  text-align: center;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#id_nav {
  background-color: #3f3f9f;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 7vh;
}
#id_nav a {
  text-decoration: none;
  color: #5fff5f;
}

#id_sprincipal, #id_todoMain, #id_variados {
  background-color: #dfdfef;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*=col-] {
  float: left;
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .m_col-1 {
    width: 25%;
  }
  .m_col-2 {
    width: 50%;
  }
  .m_col-3 {
    width: 75%;
  }
  .m_col-4 {
    width: 100%;
  }
  .m2_col-1 {
    width: 33.3333333333%;
  }
  .m2_col-2 {
    width: 66.6666666667%;
  }
  .m2_col-3 {
    width: 100%;
  }

  #id_sprincipal {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  #id_sprincipal * {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  #id_sprincipal h2 {
    padding-left: 5px;
    padding-right: 5px;
  }
  section article h2 {
    padding-top: 5%;
  }
  #id_variados p {
    text-align: justify;
  }
  #id_main article:nth-child(2) {
    padding-top: 15px;
  }
  #id_youtube1 {
    display: none;
  }
  footer .ft-main {
    display: none;
  }
  footer #hr:nth-child(2) {
    display: none;
  }
  footer .ft-social-list {
    display: flex;
    justify-content: space-evenly;
  }
  footer .ft-legal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  footer .ft-legal div:nth-child(1) {
    width: 50%;
  }
  footer .ft-legal div:nth-child(2) {
    width: 50%;
  }
  footer .ft-legal div:last-child {
    display: flex;
    background-color: slategrey;
    border-radius: 15px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .t_col-1 {
    width: 12.5%;
  }
  .t_col-2 {
    width: 25%;
  }
  .t_col-3 {
    width: 37.5%;
  }
  .t_col-4 {
    width: 50%;
  }
  .t_col-5 {
    width: 62.5%;
  }
  .t_col-6 {
    width: 75%;
  }
  .t_col-7 {
    width: 87.5%;
  }
  .t_col-8 {
    width: 100%;
  }
  .t2_col-1 {
    width: 33.3333333333%;
  }
  .t2_col-2 {
    width: 66.6666666667%;
  }
  .t2_col-3 {
    width: 100%;
  }
  #id_header {
    padding: 5%;
    text-align: center;
  }
  #id_sprincipal {
    padding: 0%;
    text-align: center;
  }
  #id_sprincipal * {
    padding: 0%;
  }
  #id_sprincipal img {
    width: 100%;
  }
  #id_sprincipal h2 {
    margin-top: 10px;
  }
  #id_todoMain p {
    text-align: justify;
  }
  #id_todoMain #id_imagen {
    display: none;
  }
  #id_variados p {
    text-align: justify;
  }
  #id_variados img {
    width: 100%;
  }
  footer .ft-main {
    display: flex;
    justify-content: space-evenly;
  }
  footer .ft-social-list {
    display: flex;
    justify-content: space-evenly;
  }
  footer .ft-legal {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
  }
}
@media only screen and (min-width: 901px) {
  .e_col-1 {
    width: 8.3333333333%;
  }
  .e_col-2 {
    width: 16.6666666667%;
  }
  .e_col-3 {
    width: 25%;
  }
  .e_col-4 {
    width: 33.3333333333%;
  }
  .e_col-5 {
    width: 41.6666666667%;
  }
  .e_col-6 {
    width: 50%;
  }
  .e_col-7 {
    width: 58.3333333333%;
  }
  .e_col-8 {
    width: 66.6666666667%;
  }
  .e_col-9 {
    width: 75%;
  }
  .e_col-10 {
    width: 83.3333333333%;
  }
  .e_col-11 {
    width: 91.6666666667%;
  }
  .e_col-12 {
    width: 100%;
  }
  #id_header {
    text-align: center;
    background-color: blue;
  }
  #img_principal img {
    width: 100%;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer .ft-main {
    display: flex;
    justify-content: space-evenly;
  }
  footer .ft-social-list {
    display: flex;
    justify-content: space-evenly;
  }
  footer .ft-legal {
    display: flex;
    justify-content: center;
    padding-right: 3%;
  }
  footer .ft-legal div:nth-child(1) {
    flex-grow: 1;
    padding-left: 3%;
  }
  footer .ft-legal div:nth-child(2) {
    flex-grow: 1;
  }
}
footer {
  padding: 5px;
  background-color: #000050;
  color: #bfffbf;
}
footer a {
  text-decoration: none;
  color: #bfffbf;
}
footer li {
  list-style-type: none;
}
footer .ft-social-list div {
  text-align: center;
}

/*# sourceMappingURL=estilos.css.map */
