$colores: (
	"negro": #272932,
r	"marron": #710000,
	"amarillo": #FDF500,
	"turquesa": #1AC5B0,
	"lightturquesa": #37EBF3,
	"morado": #9370DB,
	"frostbite": #E455AE,
	"steelpink": #CB1DCD,
	"plata":#D1C5C0
);

@for $i from 1 to 5 {
	.col-s#{$i}{
		width: #{(25%)*$i};
	}
}
.col-s4 {
	padding: 7%;
}
.hidden {
	display: none;
}
.thidden {
	display: none;
}
div{
	float:left
}
* {
	box-sizing: border-box;
	margin: 0 auto;
	font-family: 'Teroxia Demo', sans-serif;
                                                
}
.blank {
	margin-top: 7%;
	margin-bottom: 10%;
	height: 150vh;
}
.video{
	margin-top: 7%;
	margin-bottom: 10%;
	height: 30%;
}
iframe {
	height: 100%;
	width: 100%;
}
.imagen{
	text-align: center;
	padding: 1%;
	height: 30%;
}
#imagen{
	margin-left: 5%;
	height: 100%;
	width: 90%;
	float: left;
}

#titulo{
	font-family: 'Cyberthrone', sans-serif;
	text-align: center;
	font-size:xx-large;
	padding-bottom: 1%;
}
.sinopsis{
	margin-top: 2%;
	padding: 1%;
	font-family: 'Cyberthrone', sans-serif;
	font-size: 3vw;
	float:left;
	height: 10%;
	text-align: center;
                                                
}
header{
	padding-top: 2%;
	position: sticky;
	top:0%;
	background-color: map-get($colores, "negro" );
	text-align: center;
	height: 10vh;
	width: 100%;
	
}
h1 {
	font-size: 5vh;
}
body {
	background-image: url(cyberfondo.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}
main {
	width: 100%;
	height: 150vh;
}
th {
	background-color: black;
	color: map-get($colores, "amarillo");
}
#row2, #row4 {
	background-color: map-get($colores, "lightturquesa");
}

td,th, tr, table{
	border: 2px solid black;
	border-collapse: collapse;
}
table {
	margin-bottom: 5%;
	margin-top: 1%;
	border: 0;
	clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
	text-align: center;
}
footer{
	width: 100%;
	height: 10vh;
	display: flex;
	background-color: map-get($colores, "negro" );
	color: map-get($colores,"lightturquesa");
	overflow: hidden;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}
.animacion {
	width: 100%;
}
.mini {
	text-align: center;
	width: 100%;
}

.anim{
	margin-top: 10px;
	width: 100%;
    animation-duration: 40s;
    animation-name: slidein;
    animation-iteration-count: infinite;
	font-size: 1.8vw;
}
@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to{
        margin-left: -300%;
        width: 300%;
    }
}




@media only screen and (min-width:768px) {
 @for $i from 1 through 8 {
	.col-m#{$i}{
		width: #{(12.5%)*$i};
	}
 }
 header {
	padding-top: 2%;
}
main {
	height:100vh;
}
table {
	width: 98%;
	text-align: center;
}
.col-s4 {
	margin: 0 auto;
}
.hidden {
	display: none;
}
.thidden {
	display: table-cell;
}
.blank {
	height: 41%;
	margin-top: 1.5%;
	margin-bottom: 0;
}
.video {
	height: 41%;
	margin-top: 1.5%;
	margin-bottom: 0;
	padding: 0;
}
#titulo {
	font-size: 3em;
	margin-bottom: 1.5%;
}
.sinopsis {
	padding-top: 7%;
	font-size: large;
}
.imagen {
	height: 35%;
	margin-top: 2.5%;
	margin-bottom: 1.5%;
}
#imagen {
	width: 85%;
}

	
}

@media only screen and (min-width: 992px) {
	@for $i from 1 through 12{
		.col-b#{$i} {
			width: #{(8.33%)*$i};
		}
	}
	.hidden {
		display:block;
		float: right;
		display: flex;
		justify-content: center;
	}
	.thidden {
		display: table-cell;
	}
	header {
		padding-top: 0.1%;
	}
	h1 {
		font-size: 3.5vw;
	}
	main {
		height: 100vh;
	}
	.scroll{
		display: flex;
		height: 40vh;
		margin-top: 1%;
		padding: 0;
	}
	table {
		width: 97%;
		margin-left: 14%;
		margin-right: 12%;
	}
	.blank {
		height: 41%;
		margin-top: 1.5%;
		margin-bottom: 0;
	}
	.video {
		padding: 0;
		height: 41%;
		margin-top: 1.5%;
		margin-bottom: 0;
	}
	#titulo {
		font-size: 3em;
		margin-bottom: 1.5%;
	}
	.sinopsis {
		height: 46vh;
		padding-top: 7%;
		font-size: x-large;
	}
	.imagen {
		margin-top: 2%;
		height: 43%;
		padding-left: 5%;
	}
	#imagen {
		width: 90%;
	}
	.textoEscondido {
		visibility: hidden;
	}
	.textoAnimado {
		visibility: visible;
		animation: botar 2s linear;
	}
	@keyframes botar {
		from {
			margin-top: 100%;
		}
		to {
			margin-top: 0%;
		}
	}
	
}