/* ? */
@import url(https://fonts.googleapis.com/css?family=Raleway);

[class*=col-] {
  float: left;
  padding: 15px;
}

[class*=col-] {
  width: 100%;
}

/* For mobile phones: 4 columnas 2 peliculas por fila */
@media only screen and (max-width: 600px) {
  .col-1 {
    width: 25%;
  }

  .col-2 {
    width: 50%;
  }

  .col-3 {
    width: 75%;
  }

  .col-4 {
    width: 100%;
  }
}

/* For tablets: 8 columnas 4 peliculas por fila */
@media only screen and (min-width: 600px) {
  .col-t-1 {
    width: 12.5%;
  }

  .col-t-2 {
    width: 25%;
  }

  .col-t-3 {
    width: 37.5%;
  }

  .col-t-4 {
    width: 50%;
  }

  .col-t-5 {
    width: 62.5%;
  }

  .col-t-6 {
    width: 75%;
  }

  .col-t-7 {
    width: 87.5%;
  }

  .col-t-8 {
    width: 100%;
  }
}

/* For desktop: 12 columnas 6 peliculas por fila */
@media only screen and (min-width: 900px) {
  .col-e-1 {
    width: 8.3333333333%;
  }

  .col-e-2 {
    width: 16.6666666667%;
  }

  .col-e-3 {
    width: 25%;
  }

  .col-e-4 {
    width: 33.3333333333%;
  }

  .col-e-5 {
    width: 41.6666666667%;
  }

  .col-e-6 {
    width: 50%;
  }

  .col-e-7 {
    width: 58.3333333333%;
  }

  .col-e-8 {
    width: 66.6666666667%;
  }

  .col-e-9 {
    width: 75%;
  }

  .col-e-10 {
    width: 83.3333333333%;
  }

  .col-e-11 {
    width: 91.6666666667%;
  }

  .col-e-12 {
    width: 100%;
  }
}

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

body {
  background-color: lightblue;
  margin: 0px;
}

img {
  height: 35vh;
  width: 100%;
  object-fit: cover;
}

.categorias {
  text-align: center;
}

.categorias h1 {
  padding: 0.5%;
}

.informacion {
  text-align: center;
}

/*******************************************************************/
nav {
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

#nav-1 {
  background: #3fa46a;
}

#nav-2 {
  background: #5175C0;
}

#nav-3 {
  background: #EEA200;
}

.link-1 {
  transition: 0.3s ease;
  background: #3fa46a;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #3fa46a;
  border-bottom: 4px solid #3fa46a;
  padding: 20px 0;
  margin: 0 20px;
}

.link-1:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}

.link-2 {
  transition: 0.6s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-right: 2px dotted transparent;
  padding: 30px 8px 0 10px;
  margin: 0 10px;
}

.link-2:hover {
  border-right: 2px dotted #ffffff;
  padding-bottom: 24px;
}

.link-3 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}

.link-3:hover {
  background-color: #ffffff;
  color: #EEA200;
  padding: 24px 10px;
}

/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/*******************************************************************/
/*******************************************************************/

/*# sourceMappingURL=intro.css.map */