* {
    background-color: lightskyblue;
}

.padre {
    height: 200px;
    width: 200px;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hijo {
    background-color: lightgreen;
}