@media only screen and (max-width: 600px) {

    #porteria,
    #tablet,
    #escritorio,
    #animaciones,
    #errorAparecer {
        display: none;
    }

    body {
        background-color: grey;
        overflow: hidden;
    }

    @keyframes aparicion {
        from {
            left: -100%;
            filter: drop-shadow(100px 100px 10px black);
            transform: rotate(90deg)scale(.6);
        }

        33% {
            transform: rotate(180deg)scale(.8);
        }

        66% {
            transform: rotate(270deg)scale(1);
        }

        99% {
            transform: rotate(360deg) scale(1.2);
        }

        to {
            left: 0;
            transform: rotate(360deg) scale(1.3);
        }
    }

    img:first-child {
        width: 75%;
        position: relative;
        animation: aparicion 2s linear 1 forwards;
        height: 40%;
        margin: 12% 12% 0;
    }

    @keyframes botar {
        from {
            top: 0;
            filter: drop-shadow(1px .5vh 3px black);
            transform: rotate(360deg)
        }

        25% {
            top: -10vh;
        }

        30% {
            top: -10vh;
        }

        35% {
            top: -8vh;
        }

        50% {
            top: 0;
        }

        55% {
            top: 3vh;
        }

        70% {
            top: 0;
            filter: drop-shadow(1px 1vh 3px black);
        }

        80% {
            top: 2vh;
            filter: drop-shadow(1px 1vh 3px black);
        }

        90% {
            top: 0;
        }

        to {
            top: 0;
        }
    }

    #error {
        width: 90%;
        text-align: center;
        margin: 10vh auto 0;
        word-spacing: 10vw;

        &>p,
        &>img {
            display: inline;
        }

        &>p {
            font-size: 11em;
            color: lightgrey;
            text-shadow: 0px 12px 0px darkgray;
        }

        &>#balon {
            width: 25vw;
            position: relative;
            height: 15vh;
            animation: botar 2s linear 2s infinite;
        }
    }

    #movil {
        font-size: 5vw;
        text-align: center;

        &>span {
            color: black;
            text-shadow: 4px 4px 2px black;
        }
    }
}

@media only screen and (min-width: 600px) and (max-width:991px) {

    #real,
    #movil,
    #escritorio,
    #animaciones,
    #errorAparecer{
        display: none;
    }

    body {
        background-color: grey;
        border: none;
        overflow: hidden;
    }

    #porteria {
        width: 75%;
        height: 10%;
        margin: -8vh 12vw -13vh;
    }

    #error {
        width: 90%;
        text-align: center;
        margin: -5vh auto 0;
        word-spacing: 10vw;

        &>p,
        &>img {
            display: inline;
        }

        &>p {
            font-size: 11em;
            color: lightgrey;
            text-shadow: 0px 12px 0px darkgray;
        }

        &>#balon {
            width: 18vw;
            position: relative;
            height: 15vh;
            animation: tiro 3s linear infinite;
        }
    }

    @keyframes tiro {
        0% {
            filter: drop-shadow(1px .5vh 3px black);
        }

        40% {
            transform: translateY(-350%) rotate(360deg);
        }

        42% {
            transform: translateY(-350%) rotate(-360deg);
        }

        50% {
            transform: translateY(-700%);
        }

        65% {
            transform: translateY(20%);
        }

        70% {
            transform: translateY(0%);
        }

        75% {
            transform: translateY(20%);
        }

        85% {
            transform: translateY(0%);
        }

        to {
            transform: translateY(0%);
        }
    }

    #tablet {
        font-size: 4vh;
        text-align: center;
        text-shadow: 0px 1px 0px black;

        &>span {
            display: block;
            text-transform: uppercase;
            font-size: 7vh;
            text-align: center;

            &:last-child {
                text-shadow: 0px 8px 0px black;
            }
        }
    }
}

@media only screen and (min-width: 992px) {

    #porteria,
    #tablet,
    #real,
    #movil,
    #audio{
        display: none;
    }

    body {
        background-color: #353839;
        overflow: hidden;
    }

    #mostrar {
        display: block;
        font-size: 3vh;
        margin: 24% auto;
    }

    #ocultar {
        display: block;
        position: fixed;
        bottom: 0%;
        right: 0%;
    }

    #error,
    #ocultar,
    #animaciones{
        display: none;
    }

    @keyframes cambio {
        0% {
            opacity: 0;
            filter: blur(20px);
            transform: scale(12);
        }

        3% {
            opacity: 1;
            filter: blur(0);
            transform: scale(1);
        }

        10% {
            opacity: 1;
            filter: blur(0);
            transform: scale(.9);
        }

        13% {
            opacity: 0;
            filter: blur(10px);
            transform: scale(.1);
        }

        80% {
            opacity: 0;
        }

        100% {
            opacity: 0;
            display: none;
        }
    }
    @keyframes aparecer {
        0%{
            top: 10000px;
        }
        to{
            top: 0%;
        }
    }
    #errorAparecer{
        display: block;
        position: absolute;
        animation: aparecer 43s linear 1 forwards;
        text-align: center;
        width: 100%;
        & h1{
            font-size: 12vh;
        }
        & img{
            width: 45%;
            height: 30%;
        }
    }
    #errorFin{
        position: absolute;
        text-align: center;
        width: 100%;
        & h1{
            font-size: 12vh;
        }
        & img{
            width: 45%;
            height: 30%;
        }
    }
    #escritorio #animaciones div{
    position: fixed;
    width: 100%;
    text-align: center;
    opacity: 0;
    top: 25%;
    font-size: 10vh;
    animation: cambio 35s linear 1;
    & > img{
        width: 50%;
        height: 50%;
    }
    }

    #escritorio #animaciones div:nth-child(2) {
        animation-delay: 5s;
    }

    #escritorio #animaciones div:nth-child(3) {
        animation-delay: 10s;
        top: 0%;
    }

    #escritorio #animaciones div:nth-child(4) {
        animation-delay: 15s;
        top: 0%;
        font-size: 8vh;
        & > img{
            width: 20%;
            height: 30%;
        }
    }

    #escritorio #animaciones div:nth-child(5) {
        animation-delay: 20s;
        top: 0%;
        font-size: 8vh;
        & > img{
            width: 20%;
            height: 30%;
        }
    }

    #escritorio #animaciones div:nth-child(6) {
        animation-delay: 25s;
    }

    #escritorio #animaciones div:nth-child(7) {
        animation-delay: 30s;
    }

    #escritorio #animaciones  div:nth-child(8) {
        animation-delay: 35s;
        top: 0;
    }
}