header {
  background-color: red;
  height: 100px;
}
nav {
  background-color: yellow;
  height: 100px;
}
main {
  background-color: green;
  height: 500px;
}
.s1 {
  display: flex;
  flex-direction: row;
  background-color: peru;
  height: 200px;
  width: 100%;
}
.s1 article {
  width: 30%;
  height: 100px;
  background-color: cyan;
  border: 1px solid black;
}
main > footer {
  background-color: purple;
  width: 100%;
  height: 100px;
}
aside {
  background-color: blue;
  height: 300px;
  width: 100%;
}

.s2 {
  background-color: lime;
  height: 500px;
  width: 200px;
}
.s2 > article {
  background-color: violet;
  height: 100px;
  width: 100px;
}
footer {
  background-color: aqua;
  height: 100px;
}

/* PANTALLA GRANDE */
@media only screen and (min-width: 992px) {
  body {
    background-color: lime;
  }
}
/* PANTALLA MEDIANA */
@media only screen and (max-width: 992px) and (min-width: 768px) {
  body {
    background-color: black;
  }
}
/* PANTALLA PEQUEÑA */
@media only screen and (max-width: 768px) {
  body {
    background-color: darkorange;
  }
}
