* {
    box-sizing: border-box;
}

header {
    background-color: limegreen;
    height: 300px;
    width: 100%;
    padding: 50px;
}

h1 {
    background-color: lightpink;
    height: 50px;
    width: 100%;
}

nav {
    background-color: lightseagreen;
    height: 50px;
    width: 100%;
}

#idUsuario {
    background-color: lightsalmon;
    height: 50px;
    width: 100%;
}

main {
    background-color: lightskyblue;
    height: 500px;
    width: 100%;
    padding: 50px;
}

#idCategorias {
    background-color: lightcoral;
    height: 50px;
    width: 100%;
}

#idVideo {
    background-color: lightgreen;
    height: 50px;
    width: 100%;
}

#idImagenes {
    background-color: lightsalmon;
    height: 50px;
    width: 100%;
}

.imagen {
    background-color: red;
    height: 50px;
    border: 2px solid black;
}