*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3vw;
}
html{
    height: 100%;
}
body{
    height: 100%;
    background-color: rgb(251, 241, 241);
}
p:hover{
    cursor:pointer;
}
header{
    background-color: rgb(167, 73, 73);
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000045;
}
#deportes{
    background: transparent;
    border: none;
}
table{
    border: 1px solid lightgray;
    background-color: white;
    border-collapse: 10px;
    box-shadow: 15px 5px 10px #48529944;

}
td{
    width: 10%;
    text-align: center;
}
td>img{
    aspect-ratio: 3/2;
    object-fit: contain;
}
h1{
    text-align: left;
    color: white;
}

#contenedorImagen{
    height: 100%;
}
#contenedorImagen>img{
    width: 100%;
    max-width: 100%;
}

img{
    height: 100%;
    width: 55%;
    border-radius: 10px;
    margin: auto;
    max-width: 100%;
    transition: all 300ms;
    overflow: hidden;
}
img:hover {
    filter: saturate(180%);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}
picture{
    height: 100%;
    width: 55%;
    border-radius: 10px;
    margin: auto;
    max-width: 100%;
}
video{
    border: 1px solid black;
    border-radius: 10px;
}
main{
    width: 100%;
    height: 80%;
}
nav{
    display: none;
}
#seccion1{
    height: 100vh;
    float: left;
}
#divArticulo1,#divArticulo2,#divArticulo3,#divVideo,#divArticulo5{
    text-align: center;
    
}
#divArticulo2{
    width: 80%;
    margin:auto;
}
#articulo1{
    height: 30%;
    margin: 3% 3% 0;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    padding: 3%;
    box-shadow: 15px 5px 10px #48529944;
}

#articulo2{
    height: 30%;
    margin:0 3%;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    padding: 3%;
    box-shadow: 15px 5px 10px #48529944;
}


#seccion2{
    float:left;
    height: 100vh;
    text-align: left;
}
#articulo3{
    height: 35%;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    padding: 3%;
    margin:0 3%;
    box-shadow: 15px 5px 10px #48529944;
}
#divVideo{
    width: 100%;
}
video{
    
    width: 50%;
    overflow: hidden;
}
video:hover{
    -webkit-transform:scale(1.3);
    transform:scale(1.3);
}
#articulo4{
    height: 30%;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    padding: 3%;
    margin:0 3%;
    box-shadow: 15px 5px 10px #48529944;
}
#articulo4>p{
    padding: 1%;
}
#articulo5{
    height: 45%;
    border: 1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    padding: 3%;
    margin:0 3%;
    box-shadow: 15px 5px 10px #48529944;
}


main::after{
    clear: both;
    content: "";
    display: table;
}

footer{
    background-color: rgb(167, 73, 73);
    width: 100%;
    height: 10%;
    bottom: 0;
    clear: both;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
a{
    text-decoration: none;
    color: white;
    transition: all 300ms;
}
a:hover{
    color: rgb(220, 63, 60);
    transform: scale(1.01);
}
.ft-main{
    display: none;
}
.movil{
    display: none;   
}
.ft-social-list{
 width: 60%;
 margin: auto;
 padding: 10px;
}

h2{
    transition: all 300ms;
}

h2:hover{
    cursor: pointer;
    color:rgb(64, 164, 245);
    transform: scale(1.01); 
}

.fab{
    color:white;
}
.ft-legal-list{
    display: none;
}

/* For mobile phones: */
.col-m-1 {width: 25%;}
    .col-m-2 {width: 50%;}
    .col-m-3 {width: 75%;}
    .col-m-4 {width: 100%;}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    *{
        font-size: 2vw;
    }
.movil{
    display: table-cell;
}
.tablet{
    display: none;
}
  header{
      justify-content: space-around;
  }
  nav{
      display: initial;
      float:left;
      height: 100vh;
      text-align: center;
  }
  #div1,#div2,#div3 {
      border: 1px solid lightgray;
      border-radius: 10px;
      width: 99%;
      margin-top: 5%;
      background-color: white;
  }
  #div1{
      height: 25%;
      box-shadow: 15px 5px 10px #48529944;
  }
  #div2{
      height: 15%;
      box-shadow: 15px 5px 10px #48529944;
  }
  #div3{
      height: 20%;
      box-shadow: 15px 5px 10px #48529944;
  }
  
  #div1>p,#div2>p,#div3>p{
      padding: 3%;
  }
  #seccion2{
    display: none;
  }
  #articulo4,#articulo5{
      margin-top: 5%;
      width: 99%;
  }
  #articulo4{
      overflow: auto;
      height: 25%;
  }
  #articulo5{
      height: 25%;
  }
  footer{
      height: 20%;
      bottom: 0;
  }
  
  .ft-main div:last-of-type{
      display: none;
  }
  .ft-main{
      display: flex;
      justify-content: space-around;
      width: 50%;
      height: 5%;
      float: left;
  }
  .ft-main-item ul{
      display: flex;
      flex-direction: column;
  }
  
  .ft-social{
      width: 49%;
      float: left;
      margin-top:5%;
  }
  
  .ft-legal{
      float: left;
      width: 100%;
      margin-top: 5%;
  }
    .col-s-1 {width: 12.5%;}
    .col-s-2 {width: 25%;}
    .col-s-3 {width: 37.5%;}
    .col-s-4 {width: 50%;}
    .col-s-5 {width: 62.5%;}
    .col-s-6 {width: 75%;}
    .col-s-7 {width: 87.5%;}
    .col-s-8 {width: 100%;}
  }
@media only screen and (min-width: 900px) {
/* For desktop: */
    *{
        font-size: 1vw;
    }
    header{
        justify-content: space-around;
    }
    header>h1{
        font-size: 200%;
        animation-name: moverGirar;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }


    @keyframes moverGirar {
        from{
            transform: translate(-200%, 0%);
        }
        to{
            transform: translate(200%, 0%);
        }
    }
    
    .movil,.tablet{
        display: table-cell;
    }
    nav{
        display: initial;
        float:left;
        height: 100vh;
        text-align: center;
    }
    #div1{
        border: 1px solid lightgray;
        border-radius: 10px;
        height: 22%;
        width: 40%;
        margin-left: 60%;
        margin-top: 6%;
        background-color: white;
        box-shadow: 15px 5px 10px #48529944;
    }
    #div1>p:hover,#div2>p:hover,#div3>p:hover{
        background-color: lightgray;
    }
    #div2{
        border: 1px solid lightgray;
        border-radius: 10px;
        width: 100%;
        height: 15%;
        width: 40%;
        margin-left: 60%;
        margin-top: 4%;
        background-color: white;
        box-shadow: 15px 5px 10px #48529944;
    }
    #div3{
        border: 1px solid lightgray;
        border-radius: 10px;
        height: 20%;
        width: 40%;
        margin-left: 60%;
        margin-top: 4%;
        background-color: white;
        box-shadow: 15px 5px 10px #48529944;
    }
    #div1>p,#div2>p,#div3>p{
        padding: 3%;
    }
    #seccion2{
        display: initial;
        float: left;
        height: 100vh;
        text-align: left;  
    }
    #articulo4{
        margin-top: 9%;
        margin-right: 50%;
        margin-left: 0;
        height: 45%;
        transition: all 300ms;
    }
    #articulo4>p:hover{
        color:rgb(5, 40, 68);
    transform: scale(1.01); 
    }
    #articulo5{
        height:48%;
        margin-left:0;
    }
    #divFooter{
        background-color: white;
        float: left;
        width: 70%;
        height: 100%;
        margin-left: 20%;
        border: 1px solid lightgray;
        border-radius: 10px;
    }
    footer{
        height: 13%;
    }
    .ft-main{
        display: flex;
        justify-content: space-around;
        width: 50%;
        float: left;
        flex-wrap: nowrap;
    }
    .ft-main-item ul{
        display: flex;
        flex-direction: column;
    }
    .ft-social {
        width: 49%;
        float: left;
        margin-top: 0;
    }
    .ft-social-list{
        margin-top: 5%;
    }
    .ft-social-list>i:hover{
        cursor: pointer;
    }
    .ft-legal{
        float: left;
        width: 100%;
        margin-top: 0;
        background-color: black;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}