* {
  box-sizing: border-box;
  margin: 0;
}
header,
footer {
  background-color: grey;
  height: 60px;
  margin-top: 10px;
}
#logo {
  background-color: red;
  width: 30px;
  height: 30px;
}
#search {
  background-color: lightcoral;
  width: 30px;
  height: 30px;
}
main {
  background-color: black;
  height: 600px;
  width: 100%;
}
.articulo {
  background-color: orange;
  height: 150px;
  width: 150px;
}
#a1 {
  background-color: orangered;
  width: 30%;
  height: 10%;
}
.articulo2 {
  background-color: brown;
  height: 150px;
  width: 150px;
}
.lado {
  background-color: pink;
  height: 150px;
  width: 150px;
}
.pieLado {
  background-color: purple;
  width: 100%;
  height: 100px;
}
#d1 {
  background-color: blue;
}
#d2 {
  background-color: yellow;
  width: 100%;
  height: 100px;
}
#d3 {
  background-color: green;
  width: 100%;
  height: 100px;
}
#miniPie {
  background-color: lightgrey;
  height: 50px;
  margin-top: 10px;
}
@media only screen and (min-width: 992px) {
  header {
    position: sticky;
  }
  #logo {
  }
  #search {
  }
  main {
  }
  .articulo {
  }
  #a1 {
  }
  .articulo2 {
  }
  .lado {
  }
  .pieLado {
  }
  footer {
  }
  #d1 {
  }
  #d2 {
  }
  #d3 {
  }
  #miniPie {
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  * {
    box-sizing: border-box;
  }
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #logo {
  }

  #search {
  }

  main {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 20px;
  }
  .articulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 80%;
    height: 80%;
  }

  #a1 {
    height: 90%;
    width: 45%;
  }
  #a1:last-child {
    display: none;
  }

  .articulo2 {
    display: none;
  }
  .lado {
    height: 80%;
    display: flex;
    flex-direction: column-reverse;
  }
  .pieLado {
  }

  footer {
  }
  #d1 {
    background-color: blue;
    width: 20%;
    height: 50px;
    align-self: flex-start;
  }
  #d2 {
    background-color: yellow;
    width: 20%;
    height: 50px;
  }
  #d3 {
    background-color: green;
    width: 20%;
    height: 50px;
    align-self: flex-end;
  }
  #miniPie {
  }
}

@media only screen and (max-width: 767px) {
  header {
    position: sticky;
  }

  #logo,
  #search {
  }

  main {
  }
  .articulo {
    display: flex;
    justify-content: center;
  }
  .articulo2 {
  }
  #a1 {
  }
  #a1:last-child {
    display: none;
  }
  .lado {
  }
  .pieLado {
  }
  footer {
  }
  #d1 {
  }
  #d2,
  #d3,
  #miniPie {
  }
}
